<div id="cart-container">
    <div class="cart-title">BAG (<span id="cart-count">{{ cart.item_count }}</span>)</div>
    <div class="cart-items">
        {% for item in cart.items %}
            <div class="cart-item" data-variant-id="{{ item.variant.id }}">
                <div>
                    <img src="{{ item.image | image_url: height: 800 }}" alt="">
                </div>
                <div>
                    {{ item.product.title }} <br>
                    {{ item.final_price | money }} <br><br>
                    SIZE: {{ item.variant.title }} <br>
                    {% assign colors = product.metafields.custom.other_colors.value %}    
                    {% for color in colors %}
                        {% if color.product_url == product.url %}
                            {% if color.color_name %}
                                <div>
                                    COLOR: {{ color.color_name }}<br>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}  
                    {% if product.metafields.custom.pre_order %}                
                        {{ product.metafields.custom.pre_order | metafield_tag  }}
                    {% endif %}                    
                    <span>QUANTITY</span>:
                    {% comment %} <button class="quantity-button" data-variant-id="{{ item.id }}" data-action="decrement">-</button> {% endcomment %}
                    <span class="quantity-display" data-variant-id="{{ item.id }}">{{ item.quantity }}</span> <br><br>
                    {% comment %} <button class="quantity-button" data-variant-id="{{ item.id }}" data-action="increment">+</button> {% endcomment %}
                    <button class="remove-button" data-variant-id="{{ item.variant.id }}">Remove</button>
                </div>
            </div>    
        {% endfor %}
    </div>
    <div class="cart-footer">
        <div class="cart-footer-top">
            <span>
                SUBTOTAL:
            </span>
            <span>{{cart.total_price | money}}</span>
        </div>
        <div class="cart-footer-buttons">
            <a class="checkout" href="/checkout">Proceed to checkout</a>
            <a class="bag" href="/cart">VIEW BAG</a>
        </div>
    </div>
</div>



