<header class="header">
    <a class="header-logo" href="/">
      <img src="{{ 'logo.svg' |  asset_url }}" alt="">
    </a>
    <div class="mobile">
      <div style="background-image: url({{ 'search.svg' |  asset_url }});" class="header-search-open mobile"></div>
      <div style="background-image: url({{ 'cart.svg' |  asset_url }});" class="header-cart mobile"></div>
      <div style="background-image: url({{ 'menu.svg' |  asset_url }});" class="header-menu-toggle mobile"></div>
      <div style="background-image: url({{ 'close.svg' |  asset_url }}); display: none;" class="header-menu-toggle mobile"></div>
    </div>
</header>

<div class="menu menu-left">
    <a href="/collections/store">SHOP COLLECTION</a>
    <div style="height: {{ settings.menu_left_space_1 }}"></div>
    {% if request.path contains '/collections/store' %}
      {% for link in linklists.categories.links -%}
        <a href="/collections/store/{{link.title  | downcase  | replace: ' ', '-'  }}">
          {{ link.title | upcase }}
        </a>
      {%- endfor %}
      <div style="height: {{ settings.menu_left_space_2 }}"></div>
    {% endif %}
    <a href="/pages/images">IMAGES</a>
    <a href="/pages/about">ABOUT</a>
    <a href="/pages/stockists">STOCKISTS</a>
</div>

<div class="menu menu-right">
    <div class="header-search">
      <form action="/search">
      <input style="" type="search" placeholder="SEARCH" value="{{search.terms}}" name="q" />
      </form>
    </div>
    <a class="cart-button" href="#">  BAG (<span id="cart-count">{{ cart.item_count }}</span>)
    </a>
    <a href="/account">ACCOUNT</a>
</div>

<div class="menu-mobile-search">
  <form action="/search">
    <input style="background-image: url({{ 'search.svg' |  asset_url }});"placeholder="SEARCH"  type="search" value="{{search.terms}}" name="q" />
  </form>
</div>
<div class="menu-mobile">
    <a class="cart-button" href="#">  BAG (<span id="cart-count">{{ cart.item_count }}</span>)
    </a>
    <a href="/account">ACCOUNT</a>
    <div style="height: {{ settings.menu_left_space_1 }}"></div>
    <a href="/collections/store">SHOP COLLECTION</a>
    <div style="height: {{ settings.menu_left_space_1 }}"></div>
    {% for link in linklists.categories.links -%}
      <a href="/collections/store/{{link.title  | downcase  | replace: ' ', '-'  }}">
        {{ link.title | upcase }}
      </a>
    {%- endfor %}
    <div style="height: {{ settings.menu_left_space_2 }}"></div>
    <a href="/pages/images">IMAGES</a>
    <a href="/pages/about">ABOUT</a>
    <a href="/pages/stockists">STOCKISTS</a>
</div>

<div class="cart">
    <div class="cart-overlay" style="background-color: {{ settings.cart_bg_color }}; opacity: {{ settings.cart_bg_opacity }};"></div>
    <div class="cart-content" id="sidebar-cart">
      {% render 'cart' %}
    </div>
    <img class="cart-close" src="{{ 'close.svg' |  asset_url }}" alt="">
</div>

<div class="pagespecial">

</div>

<style>
  :root {
    --menu-color: {{ settings.menu_background | color: 'hex' }};
  }
</style>