<div class="product-card">
    <div class="product-images product-card-slider">
        {% for image in product.images %}
            <a href="{{ product.url }}">
                <img src="{{ image | image_url: height: 600 }}" alt="{{ product.title }}">
            </a>
        {% endfor %}
    </div>
    <a href="{{ product.url }}">
        <span>
            {{ product.title }}<br>
            {% if product.compare_at_price > product.price %}
                <span class="old-price" style="text-decoration: line-through; margin-right: 5px;">
                    {{ product.compare_at_price | money }}
                </span>
                <span class="sale-price">
                    {{ product.price | money }}
                </span>
                {% else %}
                <span class="regular-price">
                    {{ product.price | money }}
                </span>
            {% endif %}
        </span>
    </a>
    <div class="product-colors">
        {% assign colors = product.metafields.custom.other_colors.value %}                
        {% for color in colors %}
            {% assign color_handle = color.product_url | split: '/products/' | last | split: '?' | first | split: '#' | first %}
            {% if color_handle == product.handle %}
                <a class="product-color"
                    href="{{ color.product_url }}"
                    style="background-color: {{ color.color }}; background-image: url({{ color.pattern  | image_url: height: 300 }});"
                    tabindex="0"
                ></a>
            {% else %}
                <a class="product-color"
                    href="{{ color.product_url }}"
                    data-market-product-handle="{{ color_handle }}"
                    style="background-color: {{ color.color }}; background-image: url({{ color.pattern  | image_url: height: 300 }}); display: none;"
                    tabindex="0"
                ></a>
            {% endif %}
        {% endfor %}
    </div>
</div>
