<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Product",
  "name": "{{ product.title | escape }}",
  "image": [
    {% for image in product.images %}
      "{{ image | image_url: height: 1500 }}"{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ],
  "description": "{{ product.description | strip_html | strip_newlines | escape }}",
  "sku": "{{ product.sku }}",
  "brand": {
    "@type": "Brand",
    "name": "Jude"
  },
  "offers": {
    "@type": "Offer",
    "url": "{{ shop.url }}{{ product.url }}",
    "priceCurrency": "{{ cart.currency.iso_code }}",
    "price": "{{ product.price | money_without_currency }}",
    "itemCondition": "https://schema.org/NewCondition",
    "availability": "{% if product.available %}https://schema.org/InStock{% else %}https://schema.org/OutOfStock{% endif %}",
    "seller": {
      "@type": "Organization",
      "name": "{{ shop.name }}"
    }
  },
  "color": "{% for color in product.metafields.custom.other_colors.value %}{% if color.product_url == product.url %}{{ color.color_name }}{% endif %}{% endfor %}",
  "size": [
    {% for variant in product.variants %}
      "{{ variant.title }}"{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
}
</script>


<div class="content-fit">

<div class="product-page">
    <div class="desktop product-main">
        {% for image in product.images %}
            <img src="{{ image | image_url: height: 1500 }}" alt="{{ product.title }}">
        {% endfor %}
    </div>
    <div class="mobile product-slider">        
        {% for image in product.images %}
            <img src="{{ image | image_url: height: 1500 }}" alt="{{ product.title }}">
        {% endfor %}   
    </div>
    <div class="product-info">
        <div class="product-info-title">
            <h1>{{ product.title }}</h1>
            {% if product.compare_at_price > product.price %}
            <span class="old-price" style="text-decoration: line-through; margin-right: 5px;">
                {{ product.compare_at_price | money }}
            </span>
            <span class="sale-price">
                {{ product.price | money }}
            </span>
            {% else %}
            <span class="regular-price">
                {{ product.price | money }}
            </span>
            {% endif %}
        </div>
        {% assign colors = product.metafields.custom.other_colors.value %}    
        <div class="product-color-desc">
            {% for color in colors %}
                {% if color.product_url == product.url %}
                    {% if color.color_name %}
                        <div>
                            COLOR: {{ color.color_name }}
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>      
        <div class="product-colors">
            {% for color in colors %}
                {% if color.product_url == product.url %}
                    <a class="product-color active"
                        style="background-color: {{ color.color }}; background-image: url({{ color.pattern  | image_url: height: 300 }});"
                        tabindex="0"
                    ></a>
                {% else %}
                    <a class="product-color"
                        href="{{ color.product_url }}"
                        style="background-color: {{ color.color }}; background-image: url({{ color.pattern  | image_url: height: 300 }});"
                        tabindex="0"
                    ></a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="product-form">
            <div class="custom-dropdown">
                <div class="selected-variant" id="selectedVariant">
                    <span>
                        SELECT A SIZE
                    </span>
                    <img src="{{ 'dropdown.png' |  asset_url }}" alt="">                    
                </div>
                <div class="dropdown-options">
                    {% if product.metafields.custom.size_chart_message %}                        
                        <div class="">
                            {{ product.metafields.custom.size_chart_message }}
                        </div>
                    {% endif %}
                    {% for variant in product.variants %}
                        {% assign hasStock = variant.inventory_quantity > 0 %}
                        {% if variant.inventory_quantity > 0 %}
                            <div class="dropdown-option stock" data-variant-id="{{ variant.id }}">
                                {{ variant.title }}
                            </div>
                        {% else %}
                            <div class="dropdown-option no-stock" data-variant-id="{{ variant.id }}">
                                {{ variant.title }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="size-guide-open">
                SIZE GUIDE
            </div>
        </div>
        <!-- Add to Cart Form -->
        <form action="javascript:void(0);" method="post" id="addToCartForm">
        {% for variant in product.variants %}
            <input type="hidden" name="id" value="{{ variant.id }}">
            <!-- Add other variant-specific input fields if needed -->
        {% endfor %}
        <input id="addToCartButton" disabled type="submit" value="Add to Cart">
        <button type="button" class="klaviyo-bis-trigger">Notify Me</button>
        </form>
        <div class="product-info-desc">
            <div class="preorder">
                {% if product.metafields.custom.pre_order %}                
                    {{ product.metafields.custom.pre_order | metafield_tag  }} 
                {% endif %}
            </div>
            {{ product.description }}       
        </div>
        {% if product.metafields.custom.product_details %}                
            <div class="toggle-more-info" data-info="1">
                <span>DETAILS</span>
                <span style="display: none;">DETAILS</span>            
            </div>
            <div class="product-info-more"   data-info="1"style="display: none;">
                {{ product.metafields.custom.product_details | metafield_tag  }}
            </div>
        {% endif %}
        {% if product.metafields.custom.size_fit %}                
            <div class="toggle-more-info" data-info="2">
                <span>SIZE & FIT</span>
                <span style="display: none;">SIZE & FIT</span>            
            </div>
            <div class="product-info-more"   data-info="2"style="display: none;">
                {{ product.metafields.custom.size_fit | metafield_tag  }}
            </div>
        {% endif %}
        {% if product.metafields.custom.delivery_returns %}                
            <div class="toggle-more-info" data-info="3">
                <span>DELIVERY & RETURNS</span>
                <span style="display: none;">DELIVERY & RETURNS</span>            
            </div>
            <div class="product-info-more"   data-info="3"style="display: none;">
                {{ product.metafields.custom.delivery_returns | metafield_tag  }}
            </div>
        {% endif %}        


        <div class="size-guide">
            {% if product.metafields.custom.size_guide %}
                <!-- Include the content of men's footwear size conversions page -->
                {% assign size_guide_page = pages['mens-footwear-size-conversions'] %}
            {% else %}
                <!-- Include the content of women's footwear size conversions page -->
                {% assign size_guide_page = pages['womens-footwear-size-conversions'] %}
            {% endif %}
            <div class="size-guide-overlay"></div>
            <div class="size-guide-content">
                <h2>
                    SIZE GUIDE
                </h2>
                {{ size_guide_page.content }}
                <span class="size-guide-close" alt="">
                    CLOSE
                </span>
            </div>
        </div>
    </div>
</div>
{% if product.metafields.custom.related_products %}
    {% assign related_products = product.metafields.custom.related_products.value %}    
    <div class="product-related">
        <p>You may also like</p>
        <div class="products">
            {% for item in related_products %}
                {% render 'product', product: item %}
            {% endfor %}
        </div>
    </div>
{% endif %}

<div class="product-related product-recently-viewed">
    <p>Recently Viewed</p>
    <div class="product-related-list product-recently-viewed-list">
        <!-- Products will be added here dynamically -->
    </div>
</div>






</div>

